// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    text-align: center;
    margin-top:50px;
  }
  .logo-img{
    height: 85px;
    width: 71px;
    border-radius: 10px;
  }
  .app-title{
    color:#DF3796;
  }

  .list {
    margin-bottom: 0;
  }
  
}