<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" style="display: inline-block !important;">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pending</ion-title>
  </ion-navbar>
    <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="OrganizationsView" padding>

<ion-slides>
  <ion-slide *ngFor="let user of AppUsers;let i=index;" [hidden]="!user.delivery_packages.length">
    <ion-card>
    	
  <ion-item>
  <ion-item>
		<h3 style="text-align: center;padding-top:10px;">{{i+1}}/{{AppUsers.length}}</h3>
	</ion-item>
    <div>
        <ion-item>
          <h2>Name: {{user.customer_name}}</h2>
        </ion-item>
        <ion-item>
          <h2>Mobile: {{user.member1_phone_no}}</h2>
        </ion-item>
        <ion-item>
          <h2>Address: {{user.address.name}}</h2>
        </ion-item>
        <ion-item>
          <h2>Box Details: {{user.box_status}}</h2>
        </ion-item>
        
      </div>
			<!-- <button ion-button small>Box Req.</button> -->
			
  </ion-item>
 
  <ion-card *ngFor="let pack of user.delivery_packages" (click)="doAlert(pack,user.id)">
<ion-item style="text-align:center;background:#999a9b">
					
	 <div class="col" >
		  <h2 style="color:#fff;">{{pack.product.display_name}}</h2>
		</div>
		<div class="col" >
		  <h2 style="color:#fff;">Quantity: {{pack.quantity}}</h2>
		</div>
    </ion-item>
    </ion-card>
</ion-card>

  </ion-slide>

</ion-slides>
<ion-row responsive-sm style="width:100%;">
      <ion-col>
        
      </ion-col>
      <ion-col>
        <button ion-button (click)="upload()" [hidden]="flag" block>Update Now</button>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
</ion-content>
