/*
.confirm-action-canceled{
   //background-color:red;
}
.confirm-action-delivered{
  .alert-wrapper{
    color: green;
  }
  .alert-button{
  }
}

.confirm-action-canceled{
  .alert-wrapper{
    color: red;
  }
  .alert-button{
  }
}
*/

  

.custom-alert-delivery{
  text-align: center;
  margin:auto;
  .alert-button:first-child{
    background: #26cc73;
    width: 45%;
    color: #fff;
  }
  .alert-button:nth-child(2){
    background: #db1a61;
    width: 45%;
    color: #fff;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
  .alert-button-group{
  padding: 8px 8px 8px 8px; 
  }

  .alert-button{
  margin: -37px 8px 4px 0; 
  padding: 13px 23px;
  }
}

.confirm-action-canceled{
   text-align: center;
  margin:auto;
  .alert-button{
    background: #db1a61;
    width: 100%;
    color: #fff;
  }
  .alert-title{
    color: #DF3796;
    font-weight: bold;
  }
  .button-inner{
    padding-right: 45%;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
}

.confirm-action-delivered{
  text-align: center;
  margin:auto;
  .alert-button{
    background: #26cc73;
    width: 100%;
    color: #fff;
  }
  .alert-title{
    color: #DF3796;
    font-weight: bold;
  }
  .button-inner{
    padding-right: 45%;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
}

.Assign-box{
  text-align: center;
  margin:auto;
  .alert-button:first-child{
    padding-right:10%;
    background: #a0a5a1;
    width: 45%;
    color: #fff;
  }
  .alert-button:nth-child(2){
    padding-right:10%;
    background: #DF3796;
    width: 45%;
    color: #fff;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
}

.button-small-md {
    height: 3.1em;
    font-size: 1.4rem;

}

.msgAlrt{
  text-align: center;
  .alert-button{
    padding-right: 20%;
    background: #DF3796;
    width: 50%;
    color: #fff;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
}

.pendingMar{
  margin-top:10px !important;
}

.my-background{
    background-color: #f4f4f4;
}

.pro-heading{
    text-align: center;
    color: #DF3796 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
    border: 2px solid #DF3796;
    margin: auto !important;
    border-radius: 3px;
}

.prod{
  color: #6d6d6d !important;
}