/*
.confirm-action-canceled{
   //background-color:red;
}
.confirm-action-delivered{
  .alert-wrapper{
    color: green;
  }
  .alert-button{
  }
}

.confirm-action-canceled{
  .alert-wrapper{
    color: red;
  }
  .alert-button{
  }
}
*/

  

.custom-alert-delivery{
  text-align: center;
  margin:auto;
  .alert-button:first-child{
    background: #22a034;
    width: 45%;
    color: #fff;
  }
  .alert-button:nth-child(2){
    background: #e03434;
    width: 45%;
    color: #fff;
  }
  .alert-sub-title{
    color: #DF3796;
  }
  .alert-button-group{
  padding: 8px 8px 8px 8px; 
  }

  .alert-button{
  margin: -37px 8px 4px 0; 
  padding: 13px 23px;
  }
}

.confirm-action-canceled{
   text-align: center;
  margin:auto;
  .alert-button{
    background: #e03434;
    width: 100%;
    color: #fff;
  }
  .alert-title{
    color: #DF3796;
    font-weight: bold;
  }
  .button-inner{
    padding-right: 45%;
  }
}

.confirm-action-delivered{
  text-align: center;
  margin:auto;
  .alert-button{
    background: #22a034;
    width: 100%;
    color: #fff;
  }
  .alert-title{
    color: #DF3796;
    font-weight: bold;
  }
  .button-inner{
    padding-right: 45%;
  }
}


.button-small-md {
    height: 3.1em;
    font-size: 1.4rem;

}