collection{
  .scroll-content{
  padding: 2px !important;
} 
}
.tabbar {
  justify-content: center;
}

.tab-button {
  max-width: 200px;
}

.custom-alert button.alert-button-group {
   width: 33.33%;
}

.custom-alert .alert-button-group .button-inner {
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
}

.custom-alert .alert-button-group-vertical {
   -webkit-flex-direction: row;
   -ms-flex-direction: row;
   flex-direction: row ;
}

.confirm-action-payment{
  text-align: center;
  margin:auto;
  .alert-button{

    background: #22a034;
    width: 100%;
    color: #fff;
  }
  .alert-title{
    color: #DF3796;
    font-weight: bold;
  }
  .button-inner{
    padding-right: 36%;
  }
  .alert-sub-title{
    color: #6b6b6b;
  }
}
.swiper-slide{
      width: 301px;
}

.custom-margin{
padding-left: 7px;
}


.custom-collect-height{
  height: 16px;
  }

@media screen and (max-width : 370px) {
   .custom-collect-font {
        font-size: 11px;
    }
    .custom-collect-div{
      font-size: 11px !important;
      padding-top: 6px;
    }
    .custom-collect-div2{
    font-size: 11px !important; 
    padding-top: 2px;
    }
}

@media screen and (min-width : 371px) {
     .custom-collect-font {
        font-size: 14px;
    }
     .custom-collect-div{
      font-size: 14px !important;
      padding-top: 6px;
    }
     .custom-collect-div2{
    font-size: 14px !important; 
    padding-top: 2px;
    }
}