<ion-split-pane>

  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <div>

<!-- For Delivery app --> 
<!--         <ion-item teappable ion-item menuClose *ngFor="let p of deliveryPages" (click)="openPage(p)" [hidden]="p.title=='Logout' && hideLogout">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item> -->
<!-- For Delivery app --> 

<!-- For Combined app --> 
        <!-- <ion-item teappable ion-item menuClose *ngFor="let p of deliveryPages" (click)="openPage(p)" [hidden]="HideDelivery || (p.title=='Logout' && hideLogout)">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item> -->
         <ion-item *ngIf="userRole == 3" teappable ion-item menuClose (click)="openPage(cashboyPages[0])" [hidden]="cashboyPages[0].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[0].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[0].title}}
        </ion-item>
        <ion-item *ngIf="userRole == 3" teappable ion-item menuClose (click)="openPage(cashboyPages[1])" [hidden]="cashboyPages[1].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[1].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[1].title}}
        </ion-item>
        <ion-item *ngIf="userRole == 3" teappable ion-item menuClose (click)="openPage(cashboyPages[2])" [hidden]="cashboyPages[2].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[2].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[2].title}}
        </ion-item>
        <ion-item *ngIf="userRole == 7" teappable ion-item menuClose (click)="openPage(cashboyPages[3])" [hidden]="cashboyPages[3].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[3].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[3].title}}
        </ion-item>
        <ion-item *ngIf="userRole == 7" teappable ion-item menuClose (click)="openPage(cashboyPages[4])" [hidden]="cashboyPages[4].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[4].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[4].title}}
        </ion-item>

         <ion-item *ngIf="userRole == 7" teappable ion-item menuClose (click)="openPage(cashboyPages[5])" [hidden]="cashboyPages[5].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[5].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[5].title}}
        </ion-item>

         <ion-item teappable ion-item menuClose (click)="openPage(cashboyPages[6])" [hidden]="cashboyPages[6].title=='Logout' && hideLogout">
          <ion-icon item-start [name]="cashboyPages[6].icon" style="color:#ecec27;"></ion-icon>
          {{cashboyPages[6].title}}
        </ion-item>


<!-- For Combined app --> 
        
      </div>

    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
