<ion-split-pane>

  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <div>
        <!-- <ion-list-header>
        </ion-list-header> -->
        <ion-item teappable ion-item menuClose *ngFor="let p of deliveryPages" (click)="openPage(p)" [hidden]="isCombinedApp || (p.title=='Logout' && hideLogout)">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item>
        <ion-item teappable ion-item menuClose *ngFor="let p of cashboyPages" (click)="openPage(p)" [hidden]="!isCombinedApp || (p.title=='Logout' && hideLogout)">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item>


        <!-- <ion-item teappable ion-item menuClose *ngFor="let p of deliveryPages" (click)="openPage(p)" [hidden]="isCashBoyApp">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item>
        <ion-item teappable ion-item menuClose *ngFor="let p of cashboyPages" (click)="openPage(p)" [hidden]="isDeliveryApp">
          <ion-icon item-start [name]="p.icon" style="color:#DF3796;"></ion-icon>
          {{p.title}}
        </ion-item> -->
        
      </div>

    </ion-content>

  </ion-menu>

  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
